---
layout: compress
---
<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting to https://the-team-oasis.github.io/</title>
<meta http-equiv="refresh" content="0; URL=https://the-team-oasis.github.io/">
<link rel="canonical" href="https://the-team-oasis.github.io/">
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% include _masthead.html %}
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}

	<script src="{{ url }}/assets/js/copy-code-button.js"></script>
</body>
</html>
